img.mat-list-avatar {
  border-radius: 0% !important;
}

#fav-btn.favorite-btn {
  border: none;
  background-color: transparent !important;
  color: #717171;
  padding-bottom: 3px;
  line-height: 1;
  margin-left: 10em;
}

#edit-btn.toolbar-btn {
  height: 40px;
  text-transform: uppercase;
  background-color: #9f9f9f;
  color: #d5d5d5;
  border-style: hidden;
  padding: 15px;
  margin: 15px 15px 15px 9em;
  line-height: 0;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: #094083;
}

#creationDate.mat-line {
  overflow: visible;
}

.fav-icon {
  margin-left: 3em;
  cursor: pointer;
}
