<app-main-bar [pageName]="'ListReservation'" (goNextLocation)="handleNextLocationEvent()"> </app-main-bar>
<div class="page">
<div class="page-content" >
  <div fxLayoutAlign="start" fxLayout="column">
    <mat-form-field style="margin-left:1em; margin-top: 1em;" fxLayout="row" fxFlex="20" fxLayoutAlign.xs="center" fxLayoutAlign.sm="start">
    <mat-select [ngModelOptions]="{standalone: true}" (selectionChange)="loadOrderedPage()"
                [(ngModel)]="selectedFilter">
      <mat-option *ngFor="let filter of filters" [value]="filter">
        {{ filter.code | translate }}
      </mat-option>
    </mat-select>
     <mat-placeholder><i class="fa fa-sort-amount-asc" aria-hidden="true"></i> {{'label.sortBy' | translate}}</mat-placeholder>
    </mat-form-field>
  <mat-list>
    <mat-list-item *ngFor="let reservation of reservations | paginate: { itemsPerPage: limit, currentPage: p, totalItems: cantElements }" style="background: #EFEFEF;margin: 0 10px 20px 10px;">
      <img mat-list-avatar fxHide.xs="true" fxShow src="./assets/img/banner.jpg" alt="image" style="width: 60px;height: 60px;">
      <h4 mat-line style="font-weight: bold">{{reservation.destination}}</h4>
      <span id="creationDate" mat-line> {{reservation.creationDate | date}} </span>
      <div style="margin-left: 5em" [ngStyle.sm]="{'margin-left': 0}" fxHide.xs="true" fxShow>
      <label>{{'field.ranking' | translate}}</label>
      <bar-rating [(rate)]="reservation.ranking" [max]="5" (rateChange)="updateRanking($event, reservation.id)"></bar-rating>
      </div>
      <button id="fav-btn" mat-flat-button class="favorite-btn" fxHide.xs="true" fxShow (click)="updateFavorite(reservation.id, reservation.favorite)">{{'btn.addFavorite' | translate}}</button>
      <img class="fav-icon" src="./assets/img/add-a-heart-or-a-like grey 32x32.png" alt="image" *ngIf="reservation.favorite != true" (click)="updateFavorite(reservation.id, reservation.favorite)">
      <img class="fav-icon" src="./assets/img/add-a-heart-or-a-like red 32x32.png" alt="image" *ngIf="reservation.favorite == true" (click)="updateFavorite(reservation.id, reservation.favorite)">
      <button id="edit-btn" mat-flat-button class="toolbar-btn" routerLink="/reservation-edit/{{reservation.id}}">{{'btn.editReservation' | translate}}</button>
    </mat-list-item>
  </mat-list>

    <pagination-controls fxLayoutAlign.xs="center" class="my-pagination" (pageChange)="loadPage($event)" maxSize="9"
                         autoHide="true" directionLinks="true"
                         previousLabel="{{'label.previouspage' | translate}}"
                         nextLabel="{{'label.nextpage' | translate}}"></pagination-controls>

  </div>
</div>
</div>
