<app-main-bar [pageName]="'ContactManager'" (goNextLocation)="handleNextLocationEvent()"> </app-main-bar>

<div class="page">
  <app-contact-data [readonly]="false" [displayedColumns]="displayedColumns"></app-contact-data>
 </div>

