.banner{
  background: url("../assets/img/banner.jpg") no-repeat;
  background-size: cover;
  color: white;
}
.company-name{
  padding: 50px 132px;
  font-size: 5em;
}

.company-text{
  font-weight: normal;
  font-size: xx-large;
  padding-left: 20px;
}

#language .language-btn {
  border: none;
  background-color: transparent !important;
  color: white;
  padding-bottom: 3px;
  line-height: 1;
}
