<div id="header">
  <div class="banner">
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around center" fxLayoutAlign.xs="start" fxLayoutAlign.sm ="start">
    <div class="company-name" fxFlex="30" fxFlex.xs="30">
      <span style="font-weight: bold">ISU</span><span>Corp</span>
    </div>
    <div class="company-text" fxFlex="70" fxLayout="column" fxLayoutGap="5px" fxShow fxHide.xs="true" fxHide.sm="true">
      <span>{{'label.companyDescription_1' | translate}}</span> <span>{{'label.companyDescription_2' | translate}}</span>
    </div>

     <button id="create-reservation-xs" mat-flat-button class="toolbar-btn" fxShow.xs="true" fxHide routerLink="{{(isCurrentPath('reservation-list')) ? ('/reservation-add') : ('/reservation-list')}}">
       {{(isCurrentPath('reservation-list')) ? ('btn.createReservation' | translate) : ('label.reservationList' | translate)}}
     </button>

    </div>
    <div id="language" fxLayout="row" fxLayoutAlign="end end">
      <button mat-flat-button class="language-btn" (click)="switchLanguage('es')">{{'menu.spanish' | translate}}</button>
      <span class="language-btn">|</span>
      <button mat-flat-button class="language-btn" (click)="switchLanguage('en')">{{'menu.english' | translate}}</button>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
