<app-main-bar [pageName]="'AddReservation'" (goNextLocation)="handleNextLocationEvent()"> </app-main-bar>

<div class="page" toastContainer>

  <app-contact-data #contactData [displayedColumns]="displayedColumns" (isFormValid)="handleContactFormStatus($event)" [readonly]="true" [currentContact]="currentContact"></app-contact-data>

  <div class="page-content" >
    <div fxLayout.xs="column" fxLayout="row" id="reservation-detail" fxLayoutGap="20px" style="margin:1em 1em 0 1em;">
      <mat-form-field>
        <input matInput #inputDestination placeholder="{{'field.reservation.destination' | translate}}"
               [ngModelOptions]="{standalone: true}" [(ngModel)]="currentReservation.destination" required >
        <span matSuffix><i class="fa fa-globe" aria-hidden="true"></i></span>
      </mat-form-field>
    </div>
      <div fxLayout="column" id="description-editor" fxLayoutGap="20px" fxLayoutAlign="center end">
        <quill-editor [(ngModel)]="currentReservation.description" [style]="{height: '200px'}"></quill-editor>
        <button mat-flat-button id="send-btn" class="toolbar-btn" (click)="saveReservation()" [disabled]="!validData()">{{'btn.send' | translate}}</button>
      </div>
  </div>

</div>
