/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.page {
  background: #EFEFEF;
  padding: 2em 10em 3em 10em;
}

@media screen and (max-width: 599px) {
  .page {
    padding: 0px;
  }

  .fav-icon {
    margin-left: 0em !important;
  }

  #edit-btn.toolbar-btn{
    margin-left: 3em !important;
  }

  .company-name{
    padding: 15px 0 !important;
    font-size: 2em !important;
    margin-left: 10px;
  }

  #create-reservation-xs{
    text-transform: uppercase;
    font-size: 9pt;
    background: transparent;
    color: white;
    border-style: outset;
    padding: 15px 5px;
    margin: 15px;
    line-height: 0;
  }

  #contact-list {

    .mobile-label {
      width: 80px;
      display: inline-block;
      font-weight: bold;
      margin-right: 20px;
      //word-wrap: normal;
    }

    .mat-row {
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
    }

    .mat-header-row {
      display: none;
    }
  }

  #contact-actions{
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 600px) {
  .page {
    padding: 2em 1em 3em 1em;
  }


  #fav-btn.favorite-btn[_ngcontent-c2] {
    margin-left: 4em !important;
  }

  #edit-btn.toolbar-btn{
    margin-left: 3em !important;
  }

  .company-name{
    padding: 15px 0;
    font-size: 2em;
    margin-left: 10px;
  }

  #create-reservation-xs{
    text-transform: uppercase;
    font-size: 9pt;
    background: transparent;
    color: white;
    border-style: outset;
    padding: 15px 5px;
    margin: 15px;
    line-height: 0;
  }

  #contact-list {

    .mobile-label {
      width: 80px;
      display: inline-block;
      font-weight: bold;
      margin-right: 20px;
      //word-wrap: normal;
    }

    .mat-row {
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
    }

    .mat-header-row {
      display: none;
    }
  }

  #contact-actions{
    margin-bottom: 1em;
  }
}

.page-content{
  background: #FAFAFA;
}

.br[_ngcontent-c4]{
  margin: 0px !important;
}

.mat-form-field-suffix .mat-form-field-prefix {
  margin-right: 1em;
}

#send-btn{
  background-color: #094083;
  margin: 1em;
}

#send-btn:disabled {
  background-color: rgba(0,0,0,.12);
}
