.filterBoxResult {
  background-color: white;
  z-index: 10;
  border: solid black 1px;
  position: relative;
  top: -20px;

   .filteredItem {
     margin-bottom: 5px;
     cursor: pointer;
   }
}

#delete-btn, #edit-btn {
  background-color: #9f9f9f;
  color: #d5d5d5;
  border-style: hidden;
}
