<div class="page-content" toastContainer>
  <div fxLayoutAlign="start" fxLayout="column" fxFlex>
    <form [formGroup]="contactForm">
      <div fxLayout="row" fxLayout.xs="column" id="contact-detail" fxLayoutGap="20px" style="margin:1em 1em 0 1em;">
        <div>
          <mat-form-field>
            <input matInput #inputName placeholder="{{'field.contact.name' | translate}} *"
                   (keyup)="readonly ? findContact(inputName.value) : ''" formControlName="name">
            <mat-error *ngIf="contactForm.get('name').invalid">{{getErrorMessage('name')}}</mat-error>
            <span matSuffix ><i class="fa fa-users" aria-hidden="true"></i></span>
          </mat-form-field>
          <div *ngIf="filteredItems.length > 0" class="filterBoxResult">
            <div *ngFor="let item of filteredItems" class="filteredItem"
                 (click)="currentContact = item; loadContactData(); filteredItems = [];">
              {{item.name}}
            </div>
          </div>
        </div>
        <mat-form-field *ngIf="!readonly">
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of contactTypes" [value]="type.id">
              {{ type.name }}
            </mat-option>
          </mat-select>
          <mat-placeholder>{{'field.contact.type' | translate}}*</mat-placeholder>
          <mat-error *ngIf="contactForm.get('type').invalid">{{getErrorMessage('type')}}</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="readonly">
          <input matInput #inputContactType placeholder="{{'field.contact.type' | translate}} *" formControlName="type"
                 readonly>
          <span matSuffix ><i class="fa fa-id-badge" aria-hidden="true"></i></span>
        </mat-form-field>

        <mat-form-field>
          <input appNumberOnly matInput #phonenumber placeholder="{{'field.contact.phone' | translate}}"
                 formControlName="phonenumber" [readonly]="readonly">
          <span matSuffix><i class="fa fa-phone" aria-hidden="true"></i></span>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" [max]="maxDate"
                 placeholder="{{'field.contact.birthdate'| translate }} *" formControlName="birthdate">
          <mat-error *ngIf="contactForm.get('birthdate').invalid">{{getErrorMessage('birthdate')}}</mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="readonly"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="20px" id="contact-actions" *ngIf="readonly">
          <button mat-icon-button mat-raised-button (click)="contactListExpand.toggle()">
            <i class="fa fa-th-list" aria-hidden="true"></i>
          </button>
          <button mat-icon-button mat-raised-button routerLink="/contact-add">
            <i class="fa fa-address-card-o" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div *ngIf="!readonly">
        <button mat-flat-button id="send-btn" class="toolbar-btn" (click)="saveContact(contactForm.value)"
                [disabled]="!contactForm.valid">{{'btn.accept' | translate}}
        </button>
        <button mat-flat-button id="cancel-btn" class="toolbar-btn" (click)="resetData()">{{'btn.reset' | translate}}
        </button>
      </div>
    </form>
  </div>
</div>
<div fxLayout="column" id="contact-list" style="display: block;">
  <mat-expansion-panel hideToggle="true" #contactListExpand [expanded]="!readonly">
    <mat-table [dataSource]="dataSource" #datatable matSort>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{'field.contact.name' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label" fxHide fxShow.xs="true">{{'field.contact.name' | translate}}:</span>
          {{row.name}}
        </mat-cell>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{'field.contact.phone' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label" fxHide fxShow.xs="true">{{'field.contact.phone' | translate}}:</span>
          {{row.phoneNumber}}
        </mat-cell>
      </ng-container>

      <!-- BirthDate Column -->
      <ng-container matColumnDef="birthDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{'field.contact.birthdate' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label" fxHide fxShow.xs="true">{{'field.contact.birthdate' | translate}}:</span>
          {{row.birthDate | date:'yyyy-MM-dd'}}
        </mat-cell>
      </ng-container>

      <!-- Contact Type Column -->
      <ng-container matColumnDef="contactTypeName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{'field.contact.type' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label" fxHide fxShow.xs="true">{{'field.contact.type' | translate}}:</span>
          {{row.contactTypeName}}
        </mat-cell>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> {{'field.actions' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row" fxShow fxHide.xs="true">
          <button id="delete-btn" mat-icon-button mat-flat-button (click)="confirmDeleteContact(row.id, row.name)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
          <button id="edit-btn" mat-icon-button mat-flat-button (click)="loadContactData(row.id)">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator>
    </mat-paginator>
  </mat-expansion-panel>
</div>
