.toolbar{
  background: #F8F8F8;

  .page-title{
    color: #094083;
    font-size: xx-large;
  }

  button.toolbar-btn {
    height: 40px;
    text-transform: uppercase;
    background: #9f9f9f;
    color: #d5d5d5;
    border-style: hidden;
    padding: 15px;
    margin: 15px;
    line-height: 0;
  }
}
