<div class="toolbar" fxLayoutAlign="center center" fxLayoutAlign.sm="space-evenly center" fxLayout="row">
  <span class="page-title" fxFlex="20" fxHide.xs="true" fxShow>{{pages[pageIndex].pageTitle | translate}}</span>
  <ngx-lorem-ipsum fxFlex="28" [count]="1" [paragraphsCount]="0" fxHide.xs="true" fxHide.sm="true" fxShow></ngx-lorem-ipsum>
  <button mat-flat-button class="toolbar-btn" fxShow fxHide.xs="true" (click)="nextLocation()">
    {{pages[pageIndex].nextLocationLabel | translate}}
  </button>
</div>
